.app-background {
  transform: scale(1);
  backface-visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &:before {
    transition: background-color 2.5s ease-in-out;
    transition-delay: 0.75s;
    background-image: linear-gradient(to top, rgba(19, 21, 25, 0.9), rgba(19, 21, 25, 0.9)),
      url('assets/img/overlay.png');
    background-size: auto, 256px 256px;
    background-position: center, center;
    background-repeat: no-repeat, repeat;
    z-index: 2;
  }

  &:after {
    transform: scale(1.125);
    transition: transform 0.325s ease-in-out, filter 0.325s ease-in-out;
    background-image: url('assets/img/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
  }

  .app-layout.is-article-visible & {
    &:after {
      transform: scale(1.0825);
      filter: blur(0.2rem);
    }
  }

  .app-layout.is-loading & {
    &:before {
      background-color: _palette(bg-alt);
    }
  }
}
