.app-section-content {
  padding-bottom: 1.5rem !important;
  &__rss-post {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    text-align: right;
    border-radius: 8px;
    width: auto;
    overflow: hidden;

    &__picture {
      width: 100%;
      max-height: 300px;
      object-fit: cover;
    }
    &__description {
      padding: 1rem;
    }
    &__title {
      color: black;
      opacity: 0.9;
      font-size: 18px;
      font-weight: normal;
      text-align: center;
    }
    &__cta {
      margin: auto;
      margin-top: 2rem;
      letter-spacing: 0.5px;
      i:before {
        font-size: 32px;
      }
    }
  }
}
