body {
  background: _palette(bg);

  .app-body {
    max-width: 100vw;
    overflow: hidden;
  }

  &.is-loading,
  .app-body.is-loading,
  &.is-switching {
    *,
    *:before,
    *:after {
      @include vendor('animation', 'none !important');
      @include vendor('transition', 'none !important');
      @include vendor('transition-delay', 'none !important');
    }
  }
}
